html {
    scroll-behavior: smooth; 
}

.header {
    width: 100%;
    max-height: 1022px;
    height: 100vh;
    background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.9) 0%, rgba(0, 36, 83, 0.9) 90%);
}

.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: -webkit-linear-gradient(60deg, rgba(255, 43, 74, 0.9) 0%, rgba(0, 36, 83, 0.9) 90%);
    background-image: -o-linear-gradient(60deg, rgba(255, 43, 74, 0.9) 0%, rgba(0, 36, 83, 0.9) 90%);
    background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.9) 0%, rgba(0, 36, 83, 0.9) 90%);
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 0, 50% 0);
    clip-path: polygon(0 0, 100% 0%, 50% 0, 50% 0);
    transition: 0.6s;
    z-index: 9999;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 0;
    width: 1px;
    background-color: #fff;
    transition: 0.5s;
}

.menu a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 0;
    width: 1px;
    background-color: #fff;
    transition: 0.5s;
}

.menu a:hover:before, .menu a:hover:after {
    top: 0;
    height: 100%;
}

.menu_showed {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.container {
    position: relative;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row_fw-w {
    flex-wrap: wrap;
}

.row_jc-sp-bn {
    justify-content: space-between;
}

.row_jc-c {
    justify-content: center;
}

.row_header {
    position: absolute;
    z-index: 999999;
    padding-top: 8vh;
}

.row_processes {
    margin-top: 60px;
}

.main-nav {
    position: fixed;
    width: 100%;
    min-height: 100px;
    background-image: linear-gradient(60deg, rgba(255, 43, 74, 1) 0%, rgba(0, 36, 83, 1) 90%);
    z-index: 999999;
    transition: 0.5s;
}

.main-nav_bg-t {
    background: transparent;
}

.main-nav .row_header {
    padding-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.colum_header {
    padding-top: 42vh;
}

.column_about {
    max-width: 660px;
    width: 100%;
    margin-left: 80px;
}

.logo {
    display: block;
}

.button {
    display: block;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button_burger {
    width: 59px;
    height: 59px;
    border: 3px solid #ffffff;
    opacity: 0.7;
    padding: 13px 14px;
}

.button_burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.button_burger span:nth-child(2) {
    margin-top: 9px;
    margin-bottom: 9px;
}

.button_hm {
    max-width: 202px;
    padding: 16px 69px;
    background-color: #ff2b4a;

    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
}

.button_contacts {
    margin-left: calc(100% - 202px);
    margin-top: 36px;
}

.title {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.title_default {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.subtitle_default {
    opacity: 0.7;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    margin-top: 32px;
    margin-bottom: 0;
}

.title_header {
    position: relative;
    color: #ffffff;
    font-size: 65px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 14px;
    max-width: 571px;
    width: 100%;
    margin: 0 auto;
    padding-left: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title_header:before, .title_header:after {
    content: "";
    position: absolute;
    max-width: 560px;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
}

.title_header:before {
    top: 0;
    left: calc(50% - 280px);
}

.title_header:after {
    bottom: 0;
    left: calc(50% - 280px);
}

.title_about {
    opacity: 0.7;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    text-align: left;
    margin-top: 53px;
    margin-bottom: 0;
}

.title_exp {
    opacity: 0.9;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    text-align: left;
}

.title_contacts {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.78px;
    text-align: left;
    margin: 0;

}

.subtitle_header {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.88px;
    max-width: 557px;
    width: 100%;
    margin: 0 auto;
    margin-top: 26px;
}

.page {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.about {
    padding-top: 119px;
    padding-bottom: 63px;
}

.description {
    opacity: 0.7;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.description span:nth-child(1) {
    display: block;
    margin-bottom: 40px;
}

.description_about {
    margin-top: 40px;
    margin-bottom: 67px;
}

.working-process {
    padding-top: 60px;
    padding-bottom: 124px;
}

.process-card {
    max-width: 283px;
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.process-card:nth-child(1) {
    background-color: #10c6fc;
}
.process-card:nth-child(2) {
    background-color: #835aeb;
}
.process-card:nth-child(3) {
    background-color: #002453;
}
.process-card:nth-child(4) {
    background-color: #ff2b4a;
}

.card-title {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-top: 47px;
}

.card-title_exp {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin: 0;
    margin-bottom: 65px;
}

.experience {
    background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 50%, rgba(255, 43, 74, 0.53) 100%);
    padding: 124px 0;
}

.experience-card {
    max-width: 580px;
    padding: 64px 41px;
    box-sizing: border-box;
    background-color: rgba(0, 36, 83, 0.53);
}

.time {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
    margin: 0;
    margin-top: 19px;
    margin-bottom: 16px;
}

.description_card {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.description_quote {
    max-width: 466px;
    opacity: 0.8;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 28.01px;
    margin-top: 50px;
    margin-bottom: 31px;
}

.card-line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.2;
    border: none;
    margin-top: 29px;
    margin-bottom: 31px;
}

.latest-works {
    padding: 123.5px 0;
}

.work-row-1 {
    margin-top: 39px;
}

.work-row-2 {
    margin-top: 13px;
}

.work-block {
    max-width: 283px;
    width: 100%;
    height: 270px;
}

.work-row-1 .work-block:nth-child(1) {
    background-color: #10c6fc;
}
.work-row-1 .work-block:nth-child(2),
.work-row-2 .work-block:nth-child(1) {
    background-color: #835aeb;
}
.work-row-1 .work-block:nth-child(3),
.work-row-2 .work-block:nth-child(2){
    background-color: #002453;
}
.work-row-1 .work-block:nth-child(4),
.work-row-2 .work-block:nth-child(3) {
    background-color: #ff2b4a;
}

.work-block_w50 {
    max-width: 582px;
}

.quote {
    padding-top: 138px;
    padding-bottom: 142px;
    background-color: #64cbc0;
}

.quote__inner {
    max-width: 589px;
    width: 100%;
}

.sign-name {
    opacity: 0.7;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    margin-top: 31px;
    margin-bottom: 0;
}

.sign-position {
    opacity: 0.7;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-top: 16px;
}

.contacts {
    background-image: linear-gradient(60deg, rgba(255, 43, 74, 0.53) 0%, rgba(0, 36, 83, 0.53) 50%, rgba(255, 43, 74, 0.53) 100%);
    padding: 124px 0;
}

.form,
.contacts-info {
    max-width: 578px;
}

.form,
.contacts-info__inner {
    background-color: rgba(0, 36, 83, 0.53);
    box-sizing: border-box;
    padding: 64px 43px;
}

.form {
    padding: 54px 43px;
}

.form input:nth-child(2) {
    margin-top: 64px;
}

.contacts-info__inner:nth-child(1) {
    margin-top: 0;
}

.contacts-info__inner {
    margin-top: 19px;
}

.form input, textarea {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: transparent;
    padding: 20px 19px;
    box-sizing: border-box;

    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin-bottom: 27px;
}

.message {
    min-height: 205px;
}

.contacts-text {
    text-decoration: none;
    opacity: 0.7;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.01px;
    letter-spacing: 0.16px;
    margin: 0;
}

.contacts-text a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.contacts-text_mt40 {
    margin-top: 40px;
}

.footer {
    padding: 63px 0;
    background-color: #222222;
}

.soc a i {
    color: #aaaaaa;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 13px;
    border-right: 1px solid #aaaaaa;
    transition: 0.3s;
}

.soc a:last-child i {
    border-right: none;
}

.soc a:hover i {
    color: #ff2b4a;;
}

.copyright {
    width: 100%;
    margin-top: 20px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: center;
}
 /*----------------Primary Classes & IDs--------------------- */
  .p-text-dark {
    color: black;
    text-transform: uppercase;
    font-weight: 200;
    margin: 2rem;
  }

  #bars {
    margin: 2em auto;
    max-width: 960px;
    min-width: 360px;
    overflow: hidden;
  }

  .bar {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 5rem;
  }

  .bar h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    font-weight: 200;
    text-transform: uppercase;
    color: #8c8c8c;
  }

  .bar-circle {
    display: block;
    margin: 0.7em auto;
  }

  /*----------------Grid system---------------------- */

  .row {
    /*max-width: 1000px;
    margin: 0 auto;*/
    display: flex;
    /* This will allow our row to display columns horizontally */
    flex-wrap: wrap;
    /* This will become necessary to allow our flex boxes to stack in responsive mode */
  }


  /* Small and up columns */


  /* If an element needs all twelve columns, then its width is 100%. Easy. */

  .col-small-12 {
    width: 100%;
  }


  /* If an element needs 11 of 12 columns, its width is 11/12 * 100% */

  .col-small-11 {
    width: 91.666%;
  }

  .col-small-10 {
    width: 83.333%;
  }

  .col-small-9 {
    width: 75%;
  }

  .col-small-8 {
    width: 66.666%;
  }

  .col-small-7 {
    width: 58.333%;
  }


  /* This is the class we'd use if we want two 50/50 elements next to each other */

  .col-small-6 {
    width: 50%;
  }

  .col-small-5 {
    width: 41.666%;
  }


  /* This is the class we'd use if we want three elements next to each other */

  .col-small-4 {
    width: 33.333%;
  }


  /* This is the class we'd use if we want four elements next to each other */

  .col-small-3 {
    width: 25%;
  }

  .col-small-2 {
    width: 16.666%;
  }


  /* We'll almost NEVER use this */

  .col-small-1 {
    width: 8.333%;
  }
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  
 